body {
  background-color: #f3d09d;
  /* background-image: url(../../assets/img/burguer1.jpg); */
  /* background-attachment: fixed;
  background-position: left; */
  /* margin: 0; */
  /* background-color: rgba(100%, 0%, 0%, .8);
  background-size: cover; */
  /* color: white ; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
}

button {
  background-color: #e96224;
  border-radius: 4px;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #ffffff;
  font: normal 400 16px/16px Open sans;
  min-height: 35px;
  min-width: 100px;
  padding: 10px 25px;
  margin: 5px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
}

.imgBanner {
  width: 100%;
}

ul {
  background: #232f3b09;
  padding: 20px;
  margin: 0;
}

.delete-items {
  /* background-image: url(../../assets/img/cancelar.png); */
  /* background-color: rgba(243, 46, 46, 0.774); */
  color: #fd0d0d;
  /* border-radius: 50%; */
  /* width: 20%; */
  /* height: 20%; */
  font-size: x-large;
  display: inline-flex;
  background: none;
  box-shadow: none;
}
.price-total {
  border-color: 1px solid white;
}

.sendOrder {
  background-color: #13b952;
  border-radius: 4px;
  border: none;
  box-shadow: 0 0 10px rgb(0 0 0 / 10%);
  color: #ffffff;
  font: normal 400 16px/16px Open sans;
  min-height: 35px;
  min-width: 80px;
  max-width: 200px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  display: inline-grid;
  padding: 10px 25px;
  margin: auto;
  margin-top: 15px;
}

.containerItems {
  display: inline;
}

ul li {
  /* background: #000000; */
  /* color: rgb(255, 255, 255); */
  margin: 5px;
  text-align: initial;
  display: inherit;
  display: flex;
  justify-content: space-between;
}

.imglogo {
  width: 80%;
}

h1 {
  color: #ffffff;
}

.container {
  width: 80%;
}

.container-home {
  background-color: #f3d09d;

  /* display: block; */
  text-align: center;
  border-color: 1px solid white;

  font-size: 20px;
  /* margin: auto; */
  /* margin-left: 58px; */
  /* margin-right: 50px; */

  /* background-color: #000000; */
  color: beige;
  /* margin-top: 15%; */
  /* border-radius: 5%; */
}

.container-tabs {
  display: flex;
  flex-direction: column;
  /* position: relative; */
  /* width: 60%; */
  /* margin-left: 20%; */
  /* height: auto; */
  /* background-color: #f3d09d; */
  /* margin: 100px auto 0; */
  /* word-break: break-all; */
  /* border: 1px solid rgba(255, 250, 250, 0.774); */
}

.items-btn {
  width: 100%;
  background-color: #f03849;
  color: white;
  font-size: x-large;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding: 10px;
  height: 20%;
}
.bloc-tabs {
  display: flex;
}

.tabs {
  padding: 20px;
  text-align: center;
  font-size: larger;
  /* width: 60%; */
  /* background-color: #f3d09d; */
  cursor: pointer;
  /* box-sizing: content-box; */
  position: relative;
  /* outline: none; */
  background-color: #f03849;
}

.tabs:not(:last-child) {
  border-right: 1px solid rgba(0, 0, 0, 0.274);
}

.active-tabs {
  background: #13b952;
  border-bottom: 1px solid transparent;
}

button {
  border: none;
}

.content-tabs {
  flex-grow: 1;
}

.content {
  background-color: #f3d09d;

  padding: 20px;

  display: none;
}

.content h2 {
  padding: 0px 0 5px 0px;
}

.content hr {
  width: 100px;
  height: 2px;
  background: #222;
  margin-bottom: 5px;
}

.content p {
  width: 100%;
  height: 100%;
}

.active-content {
  display: block;
}

.title-pages {
  margin-top: 0;
}

.conteinerOrder {
  /* border-top: 1px solid rgb(252, 237, 237); */
  /* min-height: 50%; */
  /* display: flex; */
  flex-direction: row;
  position: relative;
  font-size: 24px;
  /* height: auto; */
  /* margin: 100px auto 0; */
  /* word-break: break-all; */
  width: 40%;
  /* height: 100vh; */
  color: black;
  background: #f6bc33;
  /* margin-top: 10%; */
  /* margin-bottom: 15%; */
  /* border-radius: 8%; */
  /* margin: 10%; */
  /* flex-wrap: nowrap; */
  /* align-content: center; */
  /* align-items: baseline; */
}
.nameClient {
  width: 60%;
}

.total-textarea {
  resize: none;
  margin-top: 8px;
  width: 30px;
  font-size: larger;
  height: 30px;
}

.price-total {
  margin: 8px;
  display: flex;
  justify-content: end;
}

.colum1 {
  background-image: url(../../assets//img/bann-1.png);
  width: 15%;
  height: 100vh;
}

.menu-items {
  height: 100vh;
  width: 80%;
  display: flex;
}
.menu-order {
  width: 45%;
  display: flex;
}
.table-container-waiter {
  width: 100%;
  height: 100vh;
}
.nameOrder {
  margin: 0px;
}

.nameClient,
.table-number {
  /* display: block; */
  font-family: Quicksand;
  /* font-style: normal; */
  line-height: 40px;
  text-align: center;
  background: #fff;
  border: 1px solid #9d91b9;
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 18px;
  font-weight: 400;
  /* margin: 20px auto auto; */
  margin-top: 5%;
  width: 90%;
}
.table-number {
  width: 24%;
  margin-left: 10px;
}

.price-total {
  font-family: Quicksand, sans-serif;
  font-size: 25px;
}
.take-order {
  /* width: 80%; */
  /* height: 100vh; */
  min-height: 80vh;
  /* margin-bottom: 15%; */
  /* border-radius: 8%; */
  /* margin: 10%; */
}
.section-total {
  margin-bottom: 70%;
}

@media screen and (max-width: 480px) {
  .table-container-waiter {
    width: 50%;
    height:auto;
  }
  .colum1 {
    width: 20px;
    height: 20px;
    display: block;
  }
  .container-tabs{
    width:50%;
    font-size: 12px;
  }
  .items-btn{
    font-size:12px;
  }
  .conteinerOrder {
    width: 40%;
  }
  .take-order{
    width:30%;
  }
  .menu-items{
    width:20%;
  }
}
