

.container-kitchen {
  background-image: url(../../assets/img/background-kitchen.png);
  display: block;
  height: auto;
  border-color: 1px solid white;
  font-size: 20px;
  color: rgb(0, 0, 0);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-attachment: fixed;
  background-repeat: repeat;
  width: 100%;
}
.targetOrder {
  display: grid;
  grid-template-columns: 40% 40% 40%;
}

.card-order {
  background-color: #f3d09d;
  border: 3px solid #493235;
  border-radius: 0 0 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0.5rem;
  max-width: 300px;
  min-width: 200px;

}
body{
 
  background-attachment: fixed;
  background-position:left;
  margin:0;
  background-size: cover;
}

.statusButton {
  width: 100%;
  border-radius: 0 0 10px 10px;
  border: none;
  margin-bottom: 0;
}

.tableClient {
  background-color: #493235;
  width: 30%;
  padding: 7px;
  margin: 0px;
  border: none;
  color: white;
  font-size: x-large;
  justify-content: space-around;
}
.order-status {
  padding: 5px;
  display: grid;
  justify-content: space-around;
}

.order-information {
  width: 100%;
  margin: 0;
  background-color: #d9a55f;
  display: flex;
}

.statusColor1,
.statusColor2 {
  display: flex;
  justify-content: center;
  font-size: 25px;
  cursor: pointer;
}

.statusColor1 {
   color: white;
   background-color: orangered; 
}

.statusColor2 {
  width: 100%;
  background-color: #88A02E;
  border-radius: 0 0 10px 10px;
  margin-bottom: 0px;
}

.card-order ul {
  padding: 5px;
}
.total{
  margin-bottom: 0px;
}
.kitchen-list {
  display: flex;
  border-bottom: 1px solid #d9a55f;
  font: inherit;
  font-style: unset;
  font-feature-settings: "smcp";
  font-variant: small-caps;
  font-weight: 600;
  margin: 8px;
}