*{
  /*   background-color: rgba(0, 0, 0, 0.712); */
    /* box-sizing: border-box; */

}
.container{
    display: block;
    text-align: center;
    font-size: 20px;
    margin: 5%;
    margin-left: 58px;
    margin-right: 50px;
    width: 90%;
    background-color: #15181a;
    color: beige;
}
.input{
    display: block;
    width: 100%;
    padding: .5rem .8rem .5rem .8rem;
    margin: .9vw 0 ;
    border:0;
    border-radius: 5px;
    font-size: 20px;
    background-color: aliceblue;
}
.buttonLogin, .buttonRegister{
    background-color: #f09014;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #ffffff;
    font: normal 400 16px/16px Open sans;
    min-height: 35px;
    min-width: 100px;
    padding: 10px 25px;
   
}